<div class="cards-container">
  <div class="circles">
    <div *ngFor="let circle of circles" [style]="circle"></div>
  </div>
  <div class="dashboard-link" routerLink="/dashboard">
    <mat-icon class="user-icon">badge</mat-icon>
  </div>
  <div class="cards-wrapper">
    <div class="cards">
      <ng-container *ngFor="let card of paginationService.paginationData$ | async">
        <div class="card">
          <h3>{{card.id}}</h3>
          <p>{{card.title}}</p>
        </div>
      </ng-container>
    </div>

    <div class="pagination">
      <button class="pagination-btn" (click)="prevPaginationPage(pageNumber)"  *ngIf="pageNumber > 1">
        <span>Назад</span>
      </button>
      <button class="pagination-btn" (click)="nextPaginationPage(pageNumber)">
        <span>Вперед</span>
      </button>
    </div>
  </div>
</div>
